body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightgoldenrodyellow
}

p {
    padding-top:1 em;
    padding-bottom:1 em;
    padding-left: 1em;
    margin-left: 15%;
    margin-right:15%;
    background-color: rgb(233, 171, 252);
    color: black;
}

.saludo{
    justify-content: center ;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: pink;
    color:mediumvioletred;
} 
#introd{ 
    text-align:center;
    background-color: rgba(173, 250, 179, 0.562);
    color: black;
} 

h1{
    justify-content: center ;
    padding-top:1%;
}

h2{
    justify-content: center ;
 padding-bottom: 1%;
    font-size: 150%;
}

a:link {
    color: fuchsia ;
}
a:visited {
    color:teal;
}

.imagenes{
    display:flex;
    justify-content: center;
}

.imagen{
    padding:15px;
    width:350px ;
}

.introimg{
    text-align: center;
    justify-content: center ; 
    background-color: lightsalmon;
}

#ballet{
    background-color: khaki;
}

.box  {
    display: flex ; 
    flex-wrap: wrap;
    justify-content: center ;
}

.introduccion {
    width: 100% ;
    justify-content: center ;

}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}